/* Ajustes gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Estilização do Navbar */
.navbar {
    background-color: #222 !important;
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #ff6347 !important;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ff6347 !important;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #222 !important;
    overflow-x: hidden;
    color: #fff !important;
    margin: 0;
    padding: 0;
}

/* Links personalizados */
.custom-link {
    color: black;
    text-decoration: none;
}

.custom-link:hover {
    text-decoration: underline;
}

/* Botões padronizados */
.btn {
    transition: 0.3s ease-in-out;
    background-color: #ff6347;
    border: none;
    color: white;
}

.btn:hover {
    background-color: #ff6347;
    border-color: #ff6347;
}

/* Loja */
.store {
    background-color: #ff6347 !important;
    color: black;
}

/* Redes sociais */
.social-links a {
   /* color: #fff; */
    margin: 0 10px;
    padding: 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.social-links a:hover i {
    color: #ff6347;
    transform: scale(1.1);
}

.social-links a .fa-instagram,
.social-links a .fa-facebook,
.social-links a .fa-tiktok,
.social-links a .fa-x,
.social-links a .fa-youtube {
    color: #fff;
}

/* Carrossel */
.carrousel-img {
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 1;
}

/* Checkboxes */
input[type="checkbox"]:checked {
    background-color:#ff6347 !important;
    border-color: #ff6347 !important;
    outline: none !important;
}

input[type="checkbox"]:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Cards */
.card-body {
    background-color: black !important;
    color: #fff !important;
    text-align: center;
}